<link rel="stylesheet" type="text/css" href="<{$smarty.const.xoopstube_url}>/xtubestyle.css" />
<{if $catarray.imageheader != ""}> <br />
 <div class="xoopstube_header"><{$catarray.imageheader}></div>
<{/if}> <br />
<div style="text-align: right;"><{$back}>&nbsp;</div>
<div class="xoopstube_singletitle">&nbsp;<{$smarty.const._MD_XTUBE_NEWVIDEOS}></div>
<br />

<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td height="5" colspan="2" class="even"><b><{$smarty.const._MD_XTUBE_TOTALNEWVIDEOS}>:</b></td>
	<td width="60%">&nbsp;</td>
  </tr>
  <tr>
    <td width="30%" class="odd"><{$smarty.const._MD_XTUBE_LASTWEEK}></td>
    <td width="10%" class="odd"><{$allweekvideos}></td>
    <td width="60%">&nbsp;</td>
  </tr>
  <tr>
    <td width="30%" class="odd"><{$smarty.const._MD_XTUBE_LAST30DAYS}></td>
    <td width="10%" class="odd"><{$allmonthvideos}></td>
    <td width="60%">&nbsp;</td>
  </tr>
</table>
<br />
	
<table border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td class="even" width="50" align="left"><b><{$smarty.const._MD_XTUBE_SHOW}>:<b></td>
    <td class="odd" style="text-align: center; white-space: nowrap;"><a href="<{$xoops_url}>/modules/<{$module_dir}>/newlist.php?newvideoshowdays=7"><{$smarty.const._MD_XTUBE_1WEEK}></a></td>
    <td class="odd" style="text-align: center; white-space: nowrap;"><a href="<{$xoops_url}>/modules/<{$module_dir}>/newlist.php?newvideoshowdays=14"><{$smarty.const._MD_XTUBE_2WEEKS}></a></td>
    <td class="odd" style="text-align: center; white-space: nowrap;"><a href="<{$xoops_url}>/modules/<{$module_dir}>/newlist.php?newvideoshowdays=30"><{$smarty.const._MD_XTUBE_30DAYS}></a></td>
    <td width="525" align="center">&nbsp;</td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="0">
  <tr>
    <td class="even" width="261"><b><{$smarty.const._MD_XTUBE_DTOTALFORLAST}> <{$newvideoshowdays}> <{$smarty.const._MD_XTUBE_DAYS}></b></td>
    <td>&nbsp;</td>
  </tr>
</table>

<{if count($dailyvideos) gt 0}>
  <!-- Start day loop -->
<{foreach item=dailyvideo from=$dailyvideos}>
<table width="100%" border="0" cellspacing="1" cellpadding="0">
  <tr>
    <td class="odd" width="230"><a href="<{$xoops_url}>/modules/<{$module_dir}>/viewcat.php?selectdate=<{$dailyvideo.newvideodayRaw}>"><{$dailyvideo.newvideoView}></a></td>
    <td class="odd" width="20" align="center"><{$dailyvideo.totalvideos}></td>
    <td>&nbsp;</td>
  </tr>
</table>
<{/foreach}>
<!-- End day loop -->

<!-- <h4><{$smarty.const._MD_XTUBE_LATESTLIST}></h4> -->
<table width="100%" cellspacing="0" cellpadding="2" border="0">
<tr>
<td width="100%">
  <!-- Start video loop -->
   <{section name=i loop=$video}>
	 <{include file="db:xtube_videoload.html" video=$video[i]}>
   <{/section}>
  <!-- End video loop -->
</td></tr>
</table>
<{/if}>