<div style="overflow: auto;">
 <{foreach item=videorandomh from=$block.random}>
   <div style="float: left; width: <{$videorandomh.width}>px; margin: 1px; padding: 2px; background-color: #d9d9d9; font-size: smaller; text-align: center;">
	<span>
		<a href="<{$videorandomh.url}>"><{$videorandomh.videothumb}></a>
		<br />
		<a href="<{$videorandomh.url}>"><{$videorandomh.title}></a>
		<br />
		<a href="<{$videorandomh.url}>"><{$videorandomh.date}></a>
	</span>	
   </div>
 <{/foreach}> 
</div>