<link rel="stylesheet" type="text/css" href="<{$icms_url}>/modules/<{$module_dir}>/mytubestyle.css" />

<{$imageheader}>

<div>
	<span style="float: left;"><{$smarty.const._MD_MYTUBE_DISPLAYING}><{$lang_sortby}></span>
	<span style="float: right;"><{$back}>&nbsp;</span>
</div>

<br /><br />
<!-- Start ranking loop --> 
<{foreach item=ranking from=$rankings}>
<div style="clear: both; text-align: left; font-weight: bold; padding-bottom: 2px;"><{$smarty.const._MD_MYTUBE_CATEGORY}>: <{$ranking.title}></div>

<table cellpadding="0" cellspacing="1" width="100%" class="outer">
  <tr> 
    <th align="center" width="5%"><{$smarty.const._MD_MYTUBE_RANK}></th>
    <th>&nbsp;<{$smarty.const._MD_MYTUBE_TITLE}></th>
    <th width="25%">&nbsp;<{$smarty.const._MD_MYTUBE_CATEGORY}></th>
    <th align="center" width="7%"><{$smarty.const._MD_MYTUBE_HITS}></th>
    <th align="center" width="7%"><{$smarty.const._MD_MYTUBE_RATING}></th>
    <th align="center" width="7%"><{$smarty.const._MD_MYTUBE_VOTE}></th>
  </tr> 
  <!-- Start files loop --> 
<{foreach item=file from=$ranking.file}>
  <tr> 
    <td align="center" class="head"><b><{$file.rank}></b></td>
	<{if $nice_url}>
		<td class="mytube_even"><a href="singlevideo.php?lid=<{$file.id}>&amp;page=<{$file.nice_link}>"><{$file.title}></a></td>
	<{else}>
		<td class="mytube_even"><a href="singlevideo.php?cid=<{$file.cid}>&amp;lid=<{$file.id}>"><{$file.title}></a></td>
	<{/if}>
    <td class="mytube_even"><a href="viewcat.php?cid=<{$file.cid}>"><{$file.category}></a></td>
    <td class="mytube_even" align="center"><{$file.hits}></td>
    <td class="mytube_even" align="center"><{$file.rating}></td>
    <td align="center" class="mytube_even"><{$file.votes}></td>
  </tr>
<{/foreach}> 
  <!-- End links loop--> 
</table>
<br /> 
<{/foreach}> 
<!-- End ranking loop -->