<link rel="stylesheet" type="text/css" href="<{$smarty.const.xoopstube_url}>/xtubestyle.css" />
<{if $catarray.imageheader != ""}>
	<br /><div align="center"><{$catarray.imageheader}></div><br />
<{/if}>
<div><{$description}></div><br />
<div class="even" style="font-size: smaller;"><b><{$category_path}></b></div><br />
<{if $subcategories}>
<fieldset><legend class="xoopstube_legend"><{$smarty.const._MD_XTUBE_SUBCATLISTING}></legend>
<div align= "left" style="margin-left: 5px; padding: 0px;">
 <table width="80%">
  <tr>
   <{foreach item=subcat from=$subcategories}>
    <td><a href="viewcat.php?cid=<{$subcat.id}>"><img src="<{$subcat.image}>" title="<{$subcat.alttext}>" alt="<{$subcat.alttext}>" align="top" /></a> <a href="viewcat.php?cid=<{$subcat.id}>"><{$subcat.title}></a>&nbsp;(<{$subcat.totalvideos}>)<br />		
	 <{if $subcat.infercategories}>
	  &nbsp;&nbsp;<{$subcat.infercategories}>
         <{/if}>
	 </td>
	 <{if $subcat.count is div by $cat_columns}>
    </tr><tr>
     <{/if}>
   <{/foreach}>
   </tr>
 </table>    
</div></fieldset>
<br />
<{/if}>

<{if $show_videos == true}>
<div align="center" style="vertical-align: middle; font-size: smaller;">
<b><{$smarty.const._MD_XTUBE_SORTBY}></b>&nbsp;<{$smarty.const._MD_XTUBE_TITLE}> (
<a href="viewcat.php?cid=<{$category_id}>&orderby=titleA">
<img src="<{$smarty.const.xoopstube_url}>/images/icon/up.png" align="absmiddle" alt="" /></a>
<a href="viewcat.php?cid=<{$category_id}>&orderby=titleD">
<img src="<{$smarty.const.xoopstube_url}>images/icon/down.png" align="absmiddle" alt="" /></a>
)
&nbsp;
<{$smarty.const._MD_XTUBE_DATE}> (
<a href="viewcat.php?cid=<{$category_id}>&orderby=dateA">
<img src="<{$smarty.const.xoopstube_url}>images/icon/up.png" align="absmiddle" alt="" /></a>
<a href="viewcat.php?cid=<{$category_id}>&orderby=dateD">
<img src="<{$smarty.const.xoopstube_url}>images/icon/down.png" align="absmiddle" alt="" /></a>
)
&nbsp;
<{$smarty.const._MD_XTUBE_RATING}> (
<a href="viewcat.php?cid=<{$category_id}>&orderby=ratingA">
<img src="<{$smarty.const.xoopstube_url}>images/icon/up.png" align="absmiddle" alt="" /></a>
<a href="viewcat.php?cid=<{$category_id}>&orderby=ratingD">
<img src="<{$smarty.const.xoopstube_url}>images/icon/down.png" align="absmiddle" alt="" /></a>
)
&nbsp;
<{$smarty.const._MD_XTUBE_POPULARITY}> (
<a href="viewcat.php?cid=<{$category_id}>&orderby=hitsA">
<img src="<{$smarty.const.xoopstube_url}>images/icon/up.png" align="absmiddle" alt="" /></a>
<a href="viewcat.php?cid=<{$category_id}>&orderby=hitsD">
<img src="<{$smarty.const.xoopstube_url}>images/icon/down.png" align="absmiddle" alt="" /></a>
)
<br />
<b><{$lang_cursortedby}></b><br /><br />
</div>
<br />
<{/if}>

<{if $page_nav == true}>
<div><{$pagenav}></div>
<br />
<{/if}>

<table width="100%" cellspacing="0" cellpadding="10" border="0">
 <tr>
  <td width="100%">
   <!-- Start link loop --><{section name=i loop=$video}>
	 <{include file="db:xoopstube_videoload.html" video=$video[i]}>
   <{/section}>
   <!-- End link loop -->
  </td>
 </tr>
</table>
<{if $page_nav == true}>
<div align="right"><{$pagenav}></div>
<{/if}>

<{if $moderate == true}>
<div><b><{$smarty.const._MD_XTUBE_MODERATOR_OPTIONS}></b></div><br />
<table width="100%" cellspacing="0" cellpadding="10" border="0">
 <tr>
  <td width="100%">
   <!-- Start link loop -->
   <{section name=a loop=$mod_arr}>
	 <{include file="db:xoopstube_videoload.html" video=$mod_arr[a]}>
   <{/section}>
   <!-- End link loop -->
  </td>
 </tr>
</table>

<{/if}>
<{include file="db:system_notification_select.html"}>